<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moduse.nakk">

    <!-- 인터넷 연결 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS 사용 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- GCM 권한 관련 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 휴대폰 저장관련 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 휴대폰 읽기 쓰기 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 테스크 권한 -->
    <uses-permission android:name="android.permission.GET_TASKS" />​

    <!-- 결제 권한 -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Out of Memory 메모리 할당 높이기 android:largeHeap="true" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login" />
        <activity android:name=".Signup"/>
        <activity android:name=".Ageeinfo" />
        <activity android:name=".gps" />
        <activity android:name=".Main" />
        <activity android:name=".Tab1_read"/>
        <activity android:name=".Tab2_read"/>
        <activity android:name=".Tab2_detail"/>
        <activity android:name=".Tab2_addpoint"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Tab3_read"/>
        <activity android:name=".Tab4_read"/>
        <activity android:name=".View_img"/>
        <activity android:name=".Tab_addtalk"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Tab1_map"/>
        <activity android:name=".Tab1_ment"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".YoutubeActivity"/>
        <activity android:name=".Tab4_fixprofile"/>
        <activity android:name=".Tab4_fixbase"/>
        <activity android:name=".Tab4_sponsor"/>
        <activity android:name=".Tab4_sponsorlist"/>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.saltfactory.demo.gcm" />
            </intent-filter>
        </receiver>

        <!-- GCM 관련 -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.musoft1215.ranbbitalk.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />


    </application>

</manifest>